*.brf
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.spl
*.pdf
*.fdb_latexmk
*.lox
*.thm
*.gin
*.tdo
*.fls
*.loa
*Notes.bib
